<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Cyshield_Automation_Task" parallel="tests" thread-count="4">
    <test name="Fireforx Tests">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="e2e_tests.RegistrationPageTests"></class>
        </classes>
    </test>

    <test name="ChromeTests">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="e2e_tests.RegistrationPageTests"></class>
        </classes>
    </test>
</suite>

